
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="id_username">Username:</label>
                                        <input type="text" id="id_username"name="username" maxlength="150",autocapitalize="none"class="form-control" autocomplete="username" autofocus=""required="">
                                        <span class="helptext">
                                            Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                                        </span>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <label for="id_first_name">First Name:</label>
                                <input type="text" id="id_first_name"name="first_name" maxlength="30" class="form-control">
                                <span class="helptext">
                                    Optional.
                                </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="id_last_name">Last Name:</label>
                                    <input type="text" id="id_last_name"name="last_name" maxlength="30" class="form-control">
                                    <span class="helptext">
                                        Optional.
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                        <label for="id_email">Email:</label>
                                <input type="email" id="id_email"name="email" maxlength="254" class="form-control" required="">
                                <span class="helptext">
                                    Required. Inform a valid email address.
                                </span>
                                    </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="id_password1">Password:</label>
                                        <input type="password" id="id_password1"name="password1" class="form-control" autocomplete="new-password" required="">
                                    <span class="helptext"></span>
                                    <ul>
                                        <li>Your password can’t be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can’t be a commonly used password.</li>
                                        <li>Your password can’t be entirely numeric.</li>
                                    </ul>
                                    </div>
                                

                                <div class="col-sm-6">

                                <label for="id_password2">Password Confirmation:</label>
                                <input type="password" id="id_password2"name="password2" class="form-control" autocomplete="new-password" required="">
                                <span class="helptext">Enter the same password as before, for verification.</span>

                            </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register Account</button>
                               
                                <hr>
                                <!-- <a href="{% url 'index'%}" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="{% url 'index'%}" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a> -->
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/password_reset">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

   

</body>

</html>
{% endblock content %}